.App {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.dropdown {
  margin-left: 20px;
  align-self: center;
  width: 200px;

}

.invoiceDetails {
  margin-top: 20px;
  width: 200px;
  align-self: center;
}

@media screen and (max-width: 430px) {
  .App {
    flex-direction: column-reverse;
  }
  .dropdown {
    margin-left: 0;
    margin-top: 20px;
  }
}